<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirstProjectWithMVC</title>
        @RenderSection("Styles", required: false) <!-- Add this line -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirstProjectWithMVC.styles.css" asp-append-version="true" />
    <style>
        
        .menu-arrow {
            font-family: 'FontAwesome'; /* Ensure you use the correct font */
            display: inline-block; /* Necessary for the transform to work */
            transform: rotate(180deg)!important;
        }

        .sidebar{
            overflow-y: auto;
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }
        
        .menu-arrow.rotate {
            transform: rotate(90deg)!important; /* Rotate 90 degrees when active */
        }
    </style>


</head>
<body>
    @Html.Partial("_Header") <!-- Include the header partial view here -->
    @Html.Partial("SideBar");
    <div class="container">
        
            @RenderBody()
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FirstProjectWithMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael-min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
